<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Emory Library Hours</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="content">
<!-- TEMP DO NOT PROCESS
      <script type="text/html" id='library_hours'>
      -->
        <!-- TODO update this markup to reflect the structure of the JSON data -->
<div class="hours">
        <h1>Hours</h1>
        </div>
        <div class="days">
        <h2>Today</h2>
        <p>Monday, Feb. 27: <time> 24 hours </time> </p>
        <h2>Tomorrow</h2>
        <p>Tuesday, Feb. 28: 24 hours</p>
        <h2>Next Five Days</h2>
        <p>
        <ul>
        <li>
        Wednesday, Mar. 01: 24 hours 
        </li>
        <li>
        Thursday, Mar. 02: 24 hours 
        </li>
        <li>
        Friday, Mar. 03: Closes Midnight 
        </li>
        <li>
        Saturday, Mar. 04: 7:30am - Midnight
        </li>
        <li>
        Sunday, Mar. 05: Opens 11am
        </li>
        </ul>
        </p>
        <!-- 
        <ul>
          <% _.each(hours, function(hour, key, list) { %>
            <li class="<%= hour %>"><%= hour %></li>
          <% });%>
        </ul>
        -->
      </script>
      <div id="target"></div>
      </div>

    </div>
    <!-- TODO you'll want to manage these assets (possibly something like http://www.createjs.com/preloadjs)
    JQuery is for making the AJAX request (https://jquery.com/)
    Moment.js is for formatting your dates nicely (https://momentjs.com/)
    Underscore.js is a well-documented simple templating library (http://underscorejs.org/) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <!-- Here is the only Javascript file you write yourself: -->
    <script src="js/index.js"></script>
</body>
</html>
