<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Emory Library Hours</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<!-- comment out
<body>
    <div id="content">
      <script type="text/html" id='library_hours'>
    </body>
-->

<body>
	<section>
    	<div class="container">
      		<div class="row">
        		<div class="hour-section col-4">
         			<h2>Today</h2>
          			<span class="rule"></span>
          			<p>Monday, Feb. 27, <time>24 hours</time></p>
        		</div>
         		<div class="hour-section col-4">
          			<h2>Tomorrow</h2>
          			<span class="rule"></span>
          			<p>Tuesday, Feb. 28, <time>24 hours</time></p>
        		</div>
         		<div class="hour-section col-4">
          			<h2>More Hours</h2>
          				<span class="rule"></span>
          				<p>Wednesday, Mar. 1, <time>24 hours</time></p>
         				<p>Thursday, Mar. 2, <time>24 hours</time></p>
          				<p>Friday, Mar. 3, <time>24 hrs - 6pm</time></p>
          				<p>Saturday, Mar. 4, <time>11am - 6pm</time></p>
          				<p>Sunday, Mar. 5, <time>Closed</time></p>
          				<h3><a href="http://web.library.emory.edu/using-the-library/visiting-the-library/hours/full-listing.html">All Hours</a></h3>
          			</div>
        		</div>
      		</div>
    	</div>
  </section>
</body>
	
<!-- comment out
        <ul>
          <% _.each(defaultHours, function(day, key, list) { %>
            <li class="<%= day %>"><%= day.hours %></li>
          <% });%>
        </ul>
       
       <ul>
          <% _.each(exceptions, function(hour, key, list) { %>
            <li class="<%= day.hours %>"><%= key %> - <%= day.hours %></li>
          <% });%>
        </ul>
      </script>
      <div id="target"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="js/index.js"></script>
    -->
</html>
